body {
    background-image: url(bg.jpg);
}

.profil {
   color: #aeaeae;
   text-align: center;
   
}

.profil a {
    text-decoration: none;
    color: #aeaeae;
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}


.content {
    color:#aeaeae;
   
}

.box-img {
    width: 250px;
   float: left;
}